body {
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    margin: 10px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h1 {
    text-align: center;
    font-size: 50px;
}

p {
    text-align: center;
    font-size: 25px;
}

a {
    text-align: center;
    font-size: 150px;
}